.container {
  display: flex;
  flex-direction: column;

  .title{
    font-size: 0.9rem;
  }

  .input {
    padding: 0.4rem 0.6rem;
    outline: none;
    border-radius: 6px;
    border: 1px solid #5e5d5998;

    &:focus {
      border-width: 1px;
      border-color: #5e5d59;
    }
  }
}
